table {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    width: 750px;
    background-color: rgb(204, 255, 51);
}

table {
display: table;
border-collapse: separate;
box-sizing: border-box;
text-indent: initial;
white-space: normal;
line-height: normal;
font-weight: normal;
font-size: medium;
font-style: normal;
color: -internal-quirk-inherit;
text-align: start;
border-spacing: 2px;
border-color: grey;
font-variant: normal;
}
style attribute {
text-align: left;
margin: 1em auto;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}