body{
    margin: 0;
    background-color: #1597E5 !important;
}
img{
    border-radius: 900px !important;
    height: 450px;
}

h1{
    display: flex;
    background-color: #1597E5;
    color: #193498;
    height: 100px;
    max-width: 100px;
    font-size: 5rem !important;
    align-items: center;
    justify-content: center;
    animation: Paris 5s infinite;
    
}
@keyframes Paris {
    0% {transform:translate(100%);}
    25%{transform:translate(200%);}
    50% {transform:translate(300%);}
    75% {transform:translate(400%)}
    100% {transform:translate(500%)}
}


.card{
    border: none !important;
    background-color: #1597E5 !important;    
}